<meta charset="UTF-8">
<meta name="description" content="Vidnex is a new platform designed for your fitness needs, anywhere, anytime."> 

<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">

<link href='//fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//tokbox.com/css/shared/fonts.css" />
<link rel="stylesheet" href="/vendors/fontAwesome/css/font-awesome.css" />
<link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css" />


<script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/vendors/bootstrap/js/bootstrap.js"></script>

