<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vidnex</title>
  <% include _header %>
  <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
  <div id="logoContainer"></div>

  <div class="container">
<div id="insideContainer">
  
    <h1>Vidnex MVP FAQ</h1>

    <div id="roomContainer">
      <input id="roomName" type="text" placeholder=""/>
      <a href="#" id="submitButton">Join</a>
      <div id="actionItem">
        Enter Instructor's Name
      </div>

      <div id="infoBox">
        <hr />
        <p></p>
        <p></p>
        <br/>
        <p>
      </div>
    </div>
</div>
  </div>

  <script src="/js/index.js" type="text/javascript"></script>
  <% include _analytics %>
</body>
</html>
