<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<p>Hola,</p>
<p>Hay una petición de asistencia en <a href="http://<%= host %>/<%= rid %>/a/<%= rname %>/Asistente">http://<%= host %>/<%= rid %>/a/<%= rname %>/Asistente</a></p>
</body>
</html>