<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/new_teacher_room.css" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
  <script src="//static.opentok.com/v2/js/opentok.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/opentok-layout.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/new_room.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      init_session("<%= apiKey %>", "<%= session_id %>", "<%= token %>", "<%= cname %>", "<%= rname %>", "<%= uname %>");
    });
  </script>
</head>
<body>
  <div id="bannerContainer"><div><%= cname %></div></div>
  <div id="layoutContainer"></div>
  <div id="advisorContainer"></div>
  <div id="publisherContainer"></div>
  <div id="chatContainer">
    <div id="chatArea"><div id="displayArea"></div></div>
      <div id="inputArea">Chat: <input type="text" name="chat_message" id="chatMessage"></div>
      <div><button type="button" id="chatMute"></button></div>
      <div id="waitAdvisor" style="display: none"></div>
      <div><button type="button" id="sendAdvisor"></button></div>
    </div>
  </div>
</body>
</html>

