<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/new_room.css" />
  <script src="//static.opentok.com/v2/js/opentok.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/js/new_room.js" type="text/javascript"></script>
  <script type="text/javascript">
    init_session("<%= apiKey %>", "<%= session_id %>", "<%= token %>");
  </script>
</head>
<body>
<div>
  <div class="student-left-column" id="student_teacher_view"></div>
  <div class="student-right-column" id="student_student_view"></div>
</div>
<div>
  <div class="teacher-left-column">
    <div class="left-student-column">
      <div class="student-cell" id="student-cell_0"></div>
      <div class="student-cell" id="student-cell_1"></div>
      <div class="student-cell" id="student-cell_2"></div>
    </div>
    <div class="center-student-column">
      <div class="student-cell" id="student-cell_3"></div>
      <div class="student-cell" id="student-cell_4"></div>
      <div class="student-cell" id="student-cell_5"></div>
    </div>
    <div class="right-student-column">
      <div class="student-cell" id="student-cell_6"></div>
      <div class="student-cell" id="student-cell_7"></div>
      <div class="student-cell" id="student-cell_8"></div>
    </div>
  </div>
  <div class="teacher-right-column" id="teacher_teacher_view"></div>  
</div>
</body>
</html>

