<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= rid %>'s Room</title>
  <% include _header %>
  <link rel="stylesheet" href="/css/room.css" />
  <script src="//swww.tokbox.com/webrtc/v2.2/js/TB.min.js"></script>
  <script src="/vendors/handlebars.js" type="text/javascript"></script>
  <script src="/js/layoutContainer.js" type="text/javascript"></script>
</head>
<body>

<div class="container">

  <div id="streams_container">
    <div class="streamContainer" id="myPublisherContainer">
      <div id="myPublisher"></div>
    </div>
  </div>

  <div id="chatroom">
    <section id="title">
      <div id="title_content">
        <h1 class="titleText"><%= rid %></h1>
      </div>
    </section>

    <div id="displayChat"></div>
    <div id="chatInput">
      <input type="" id="messageInput" disabled/>
      <i class="icon-comments-alt"></i>
    </div>
  </div>



<script id="messageTemplate" type="text/x-handlebars-template">
<div class="chatMessage"><em>{{name}}: </em>{{{text}}}</div>
</script>

<script id="notifyTemplate" type="text/x-handlebars-template">
  <div class="chatEvent chatMessage"><em>{{message}}</em></div>
</script>

<script id="userStreamTemplate" type="text/x-handlebars-template">
  <div class="streamContainer {{id}}" data-connectionid="{{connectionId}}">
    <div id="{{id}}"></div>
    <div class="flagUser" data-streamconnection="{{id}}">Offensive User</div>
  </div>
</script>

<script src="/js/room.js" type="text/javascript"></script>
<script type="text/javascript">
  new User("<%= rid %>", "<%= apiKey %>", "<%= sid %>", "<%= token %>");
</script>

<% include _analytics %>

</body>
</html>
