<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= rid %>'s Class </title>
  <% include _header %>
  <link rel="stylesheet" href="/css/studentTwo.css" />
  <script src="//swww.tokbox.com/webrtc/v2.2/js/TB.min.js"></script>
  <script src="/vendors/handlebars.js" type="text/javascript"></script>
 <script src="/js/layoutContainerClassroom.js" type="text/javascript"></script> 
</head>
<body>

<div class="container">
  <section id="title">
    <div id="title_content">
      <p class="titleText"><%= rid %>'s Class</p>
    </div>
  </section>

  <div id="streams_container">
    <div class="streamContainer">
      <div id="TeacherDiv"></div>
      <div id="StudentDiv2"></div>
    </div>
  </div>

  <div id="chatroom">
    <div id="chatElementContainer">
      <div id="displayChat"><ul id=""></ul></div>
      <div id="chatInput">
        <input type="" id="messageInput" disabled/>
        <i class="icon-comments-alt"></i>
      </div>
    </div>
  </div>
</div>


<script id="messageTemplate" type="text/x-handlebars-template">
<div class="chatMessage"><em>{{name}}: </em>{{{text}}}</div>
</script>

<script id="notifyTemplate" type="text/x-handlebars-template">
  <div class="chatEvent chatMessage"><em>{{message}}</em></div>
</script>

<script id="userStreamTemplate" type="text/x-handlebars-template">
  <div class="streamContainer {{id}}">
    <div id="{{id}}"></div>
   // <div class="flagUser" data-streamconnection="{{id}}">Offensive User</div>
  </div>
</script>

<script src="/js/classroom.js" type="text/javascript"></script>
<script type="text/javascript">
  new User("<%= rid %>", "<%= apiKey %>", "<%= sid %>", "<%= token %>", "<%= classPosition %>", "500", "375");
</script>

<% include _analytics %>

</body>
</html>
