

/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
#chatroom {
  background: white;
  border: 3px solid #1ba3dd;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  box-sizing: border-box; }

#chatElementContainer {
  height: 100%;
  position: relative; }

#displayChat {
  padding: 5px;
  overflow: auto;
  background: #EEE;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 40px; }
  #displayChat .chatEvent {
    text-align: center;
    color: #aaa; }
  #displayChat .chatMessage {
    margin: 10px 5px 5px 5px;
    font-size: 15px;
    word-wrap: break-word; }
  #displayChat li h4 {
    display: inline;
    font-size: 15px; }

#chatInput {
  height: 35px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0; }
  #chatInput input {
    border: 1px solid #DDD;
    background: none;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    color: #444444;
    padding-left: 45px; }
    #chatInput input:focus {
      outline: none;
      box-shadow: 1px 1px 3px #999 inset; }
  #chatInput i {
    font-size: 30px;
    position: relative;
    left: 10px;
    top: -25px;
    color: #8D8F8F;
    float: left; }

body {
  background: white;
  /* background: #433931 no-repeat center center fixed;
  /* Old browsers */
  background-image: radial-gradient(circle at 50% 50%, #433931, #1e1916);
  background-image: -webkit-radial-gradient(50% 50%, circle, #433931, #1e1916);
  background-image: -moz-radial-gradient(50% 50%, circle, #433931, #1e1916);
  background-image: -ms-radial-gradient(50% 50%, circle, #433931, #1e1916);
  background-image: -o-radial-gradient(50% 50%, circle, #433931, #1e1916); }
  body * {
    box-sizing: content-box; }
  body .container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  body #streams_container {
    position: fixed;
    top: 0px;
    bottom: 150px;
    right: 20px;
    left: 20px;
    text-align: center;
    box-sizing: border-box; }
    body #streams_container .streamContainer {
      display: inline-block;
      position: relative;
      text-align: center;
      box-sizing: border-box; }
    
    body #streams_container .streamContainer .OT_video-container {
        transition: width 1s;
        -webkit-transition: width 1s; }
    
    body #streams_container .flagUser {
      position: absolute;
      top: 10px;
      left: 0px;
      right: 0px;
      margin: auto;
      border: none;
      box-shadow: 0.15em 0.25em 0.33em rgba(0, 0, 0, 0.3);
      background-color: #C40A68;
      color: white;
      font-size: 15px;
      padding: 10px;
      border-radius: 7px;
      width: 110px;
      height: 20px;
      text-align: center;
      cursor: pointer;
      display: none; }

  body #TeacherDiv {
      position: fixed;
      top: 80px;
      left: 385px;
      width: 640px;
      height: 480px;
  } 

  body #StudentDiv1 {
      position: fixed;
      left: 100px;
      top: 0px;
      width: 250px;
      height: 188px;
      background-color: rgba(0, 0, 5, 0.5);
  }    

   body #StudentDiv2 {
      position: fixed;
      left: 100px;
      top: 190px;
      width: 250px;
      height: 188px;
      background-color: rgba(0, 0, 0, 0.5);
  }    

  body #StudentDiv3 {
      position: fixed;
      left: 100px;
      top: 380px;
      width: 250px;
      height: 188px;
      background-color: rgba(0, 0, 0, 0.5);
  }  

  body #StudentDiv4 {
      position: fixed;
      left: 1060px;
      top: 0px;
      width: 250px;
      height: 188px;
      background-color: rgba(0, 0, 0, 0.5);
  }  

  body #StudentDiv5 {
      position: fixed;
      left: 1060px;
      top: 190px;
      width: 250px;
      height: 188px;
      background-color: rgba(0, 0, 0, 0.5);
  }    

  body #StudentDiv6 {
      position: fixed;
      left: 1060px;
      right: 20px;
      top: 380px;
      width: 250px;
      height: 188px;
      background-color: rgba(0, 0, 0, 0.5);
  }   


  body .clickThrough {
    pointer-events: none; }
  body #title {
    position: fixed;
    top: 0;
    right: 0px;
    left: 0px;
    height: 70px;
    width: 450px;
    margin: auto; }
  body #title_content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
    body #title_content p {
      color: #eeeef2;
      text-align: center; }
      body #title_content p a {
        color: #1ba3dd; }
  body #title_content .titleText {
    width: 100%;
    height: 30px;
    text-align: center;
    color: white;
    font-family: "AvantGardeGothicITCW01X";
    font-weight: lighter;
    vertical-align: middle;
    line-height: 100%;
    font-size: 30px; }
