body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

#layoutContainer {
  position: absolute;
  top: 76px;
  left: 0px;
  right: 0px;
  bottom: 100px;
  background-color: #FFF;
  }
            
#layoutContainer > div {
  background-color: #000;
  display: inline-block;  
  }

#publisherContainer {
  left: 10000px;
  top: 10000px;
  }

#bannerContainer {
  position: absolute;
  top: 0px;
  left: 0px;  
  width:100%;
  height:76px;
}

#bannerContainer div {
  padding: 10px;
  font-size: 48px;
  text-align: center;
}

#chatContainer {
  position: absolute;
  left: 0px;  
  width:100%;
  height:120px;
  background-color: #BBB;
}

#chatArea {
  width:100%;
  height:70px;
  background-color: #BBB;
  font-size: 14px;
}

#displayArea {
  padding-left: 10px;
  padding-top: 3px;
  height: 70px;
  overflow-y: scroll
}

#inputArea {
  padding-left: 5px;
  padding-top: 10px;
  float: left;
}

#chatMessage {
  width: 500px;
}

#openMenu {
  height: 30px;
  width: 200px;
  border: none;
  background: #BBBBBB url("/img/menu.png") no-repeat right top;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 9px;
  float: left;
}

#menuModal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 200px;
  margin-left: -200px;
  margin-top: -100px;
  z-index: 100;
  background-color: #BBB;
  border: 1px solid #818181;
}

#closeMenu {
  height: 30px;
  padding: 0px;
  width: 30px;
  border: 0px;
  margin-left: 470px;
  cursor: pointer;
  font-size: 18px;
}

#menuModalCaption {
  /*background-color: #666;*/
  height: 30px;
}

#menuVideoOn {
  height: 30px;
  width: 200px;
  border: none;
  background: #BBBBBB url("/img/start_video.png") no-repeat right top;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 80px;
  float:left;
}

#menuVideoOff {
  height: 30px;
  width: 200px;
  border: none;
  background: #BBBBBB url("/img/stop_video.png") no-repeat right top;
  cursor: pointer;
  margin-right: 40px;
  margin-top: 80px;
  float: right;
}