body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

#layoutContainer {
  position: absolute;
  top: 76px;
  left: 0px;
  right: 0px;
  bottom: 100px;  
  background-color: #FFF;
  }
            
#layoutContainer > div {
  background-color: #000;
  display: inline-block;
  }

#publisherContainer {
  float: right;
  left: 10000px;
  top: 10000px;
  width:264px;
  height:198px;
  }

#bannerContainer {
  position: absolute;
  top: 0px;
  left: 0px;  
  width:100%;
  height:56px;
}

#bannerContainer div {
  padding: 10px;
  font-size: 48px;
  text-align: center;
}

#chatContainer {
  position: absolute;
  left: 0px;  
  width:100%;
  height:120px;
  background-color: #BBB;
}

#chatArea {
  width:100%;
  height:70px;
  background-color: #BBB;
  font-size: 14px;
}

#displayArea {
  padding-left: 10px;
  padding-top: 3px;
  height: 70px;
  overflow-y: scroll
}

#inputArea {
  padding-left: 10px;
  padding-top: 10px;
}

#chatMessage {
  width: 500px;
}

.btn-vidnex {
  text-transform: uppercase;
  color: #52c0ff;
  border: 2px solid #52c0ff;
  background:#FFFFFF;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}

.btn-vidnex:hover {
  color: #05a4ff;
  border-color: #05a4ff;
}