body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

#layoutContainer {
  position: absolute;
  top: 76px;
  left: 0px;
  right: 264px;
  bottom: 100px;  
  background-color: #FFF;
  }
            
#layoutContainer > div {
  background-color: #000;
  display: inline-block;
  }

#advisorContainer {
  float: right;
  left: 10000px;
  top: 10000px;
  width:264px;
  height:198px;
  }

#publisherContainer {
  float: right;
  left: 10000px;
  top: 10000px;
  width:264px;
  height:198px;
  }

#bannerContainer {
  position: absolute;
  top: 0px;
  left: 0px;  
  width:100%;
  height:56px;
}

#bannerContainer div {
  padding: 10px;
  font-size: 48px;
  text-align: center;
}

#chatContainer {
  position: absolute;
  left: 0px;  
  width:100%;
  height:120px;
  background-color: #BBB;
}

#chatArea {
  width:100%;
  height:70px;
  background-color: #BBB;
  font-size: 14px;
}

#displayArea {
  padding-left: 10px;
  padding-top: 7px;
  height: 70px;
  overflow-y: scroll
}

#inputArea {
  padding-left: 10px;
  padding-top: 15px;
  float: left;
}

#chatMessage {
  width: 500px;
}

#chatMute {
  height: 30px;
  width: 20px;
  border: none;
  background: #BBBBBB url("/img/mic_off.png") no-repeat right top;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 9px;
  float: left;
}

#sendAdvisor {
  height: 30px;
  width: 200px;
  border: none;
  background: #BBBBBB url("/img/help_on.png") no-repeat right top;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 9px;
  float: left;
}

#waitAdvisor {
  height: 30px;
  width: 200px;
  border: none;
  background: #BBBBBB url("/img/help_off.png") no-repeat right top;
  margin-left: 15px;
  margin-top: 9px;
  float: left;
}

#chatMute:focus,
#sendAdvisor:focus {
  outline: 0;
}

